parameters:
    # phpVersion: 50400 # Needs to be 70100 or higher... sigh...
    level: 6
    paths:
        - bin
        - PHPCSDebug
        - Scripts
        - Tests
    bootstrapFiles:
        - phpunit-bootstrap.php
    treatPhpDocTypesAsCertain: false

    ignoreErrors:
        # yamllint disable rule:line-length

        # Level 3
        # Bug upstream. See: https://github.com/phpstan/phpstan/issues/13325
        -
            message: '`^Property PHPCSDevTools\\Scripts\\FileList::\$fileIterator \(RegexIterator<[^)]+>>\) does not accept RegexIterator<[^>]+>>\.$`'
            path: Scripts/FileList.php
            count: 1

            # yamllint enable rule:line-length
