parameters:
    # phpVersion: 50400 # Needs to be 70100 or higher... sigh...
    level: 6
    paths:
        - devtools-autoload.php
        - bin
        - PHPCSDebug
        - Scripts
        - Tests
    bootstrapFiles:
        - phpunit-bootstrap.php
    treatPhpDocTypesAsCertain: false

    ignoreErrors:
        # yamllint disable rule:line-length

        # Level 3
        # Bug upstream. See: https://github.com/phpstan/phpstan/issues/13325
        -
            message: '`^Property PHPCSDevTools\\Scripts\\Utils\\FileList::\$fileIterator \(RegexIterator<[^)]+>>\) does not accept RegexIterator<[^>]+>>\.$`'
            path: Scripts/Utils/FileList.php
            count: 1

            # yamllint enable rule:line-length

        # Level 5
        -
            count: 1
            message: '`^Parameter #1 \$callback of function spl_autoload_register expects`'
            path: devtools-autoload.php
