<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/7.5/phpunit.xsd"
    backupGlobals="true"
    bootstrap="./phpunit-bootstrap.php"
    beStrictAboutTestsThatDoNotTestAnything="false"
    colors="true"
    forceCoversAnnotation="true">

    <testsuites>
        <testsuite name="PHPCSDevTools">
            <directory suffix="UnitTest.php">./PHPCSDebug/Tests/</directory>
        </testsuite>
    </testsuites>

    <php>
        <!-- This line prevents issues with PHPCS trying to load sniff files for
             standards which we aren't testing.
             Ref: https://github.com/squizlabs/PHP_CodeSniffer/pull/1146 -->
        <env name="PHPCS_IGNORE_TESTS" value="PHPCompatibility"/>
    </php>
</phpunit>

