<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/7.5/phpunit.xsd"
    backupGlobals="true"
    bootstrap="./phpunit-bootstrap.php"
    beStrictAboutTestsThatDoNotTestAnything="false"
    convertErrorsToExceptions="true"
    convertWarningsToExceptions="true"
    convertNoticesToExceptions="true"
    convertDeprecationsToExceptions="true"
    colors="true"
    forceCoversAnnotation="true">

    <testsuites>
        <testsuite name="DebugSniff">
            <directory suffix="Test.php">./PHPCSDebug/Tests/</directory>
        </testsuite>
        <testsuite name="DevTools">
            <directory suffix="Test.php">./Tests/FeatureComplete/</directory>
            <directory suffix="Test.php">./Tests/DocsXsd/</directory>
        </testsuite>
    </testsuites>
</phpunit>
